# I (Tom Eichlersmith) am not saying I own exclusive writes to this code
# it is just the vocabulary GitHub uses to allow me to be auto-requested
# a review when someone opens a Pull Request
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# for, now I am not doing anything more specific than say I should review everything
* @tomeichlersmith
