build**
install**
*.raw
*.root
*.csv
*~
docs/html/**
tool/test-menu
conda-bld**

# ignore all hidden files
.*
# except github
!.github

# python venv for lightweight analyses
venv
# python cache files
__pycache__
